In [1]:
import numpy as np
import pandas as pd
import data_loader

path1='../Data'
file_movies='movies.csv'
file_ratings='ratings.csv'
DL=data_loader.DataLoader(path1)

In [2]:
data_movies=DL.load_csv(file_name=file_movies)

missing=DL.check_missing_values(data_movies)
data_movies.head(135)

INFO:data_loader:加载文件：../Data\movies.csv
INFO:data_loader:文件加载成功，形状为：(9742, 3)
INFO:data_loader:数据中没有缺失值。

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
130,157,Canadian Bacon (1995),Comedy|War
131,158,Casper (1995),Adventure|Children
132,159,Clockers (1995),Crime|Drama|Mystery
133,160,Congo (1995),Action|Adventure|Mystery|Sci-Fi
134,161,Crimson Tide (1995),Drama|Thriller|War

In [3]:
data_ratings=DL.load_csv(file_name=file_ratings)

missing1=DL.check_missing_values(data_ratings)
data_ratings

INFO:data_loader:加载文件：../Data\ratings.csv
INFO:data_loader:文件加载成功，形状为：(100836, 4)
INFO:data_loader:数据中没有缺失值。

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
# 测试 筛选列
data1=data_movies.filter(items=['movieId','genres'])
data2=pd.get_dummies(data1)
data2.head()

,movieId,genres_(no genres listed),genres_Action,genres_Action|Adventure,genres_Action|Adventure|Animation,genres_Action|Adventure|Animation|Children,genres_Action|Adventure|Animation|Children|Comedy,genres_Action|Adventure|Animation|Children|Comedy|Fantasy,genres_Action|Adventure|Animation|Children|Comedy|IMAX,genres_Action|Adventure|Animation|Children|Comedy|Romance,...,genres_Romance|Thriller,genres_Romance|War,genres_Romance|Western,genres_Sci-Fi,genres_Sci-Fi|IMAX,genres_Sci-Fi|Thriller,genres_Sci-Fi|Thriller|IMAX,genres_Thriller,genres_War,genres_Western
0,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
X,y=DL.one_hot_encode(data_movies=data_movies,data_ratings=data_ratings)
print(X.shape)
print(y.shape)

(100836, 129)
(100836,)

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float64